.navbar-custom, .navbar-brand {
    background-color: #E2F4FC;
    color: #FF2E63;
}

a.nav-link.dropdown-toggle  {
    color: #FF2E63;
    font-weight:  bold;
    font-family: sans-serif;
}
a.nav-link{
    color: #FF2E63;
    font-family: sans-serif;
    font-weight:  bold;
}
a.dropdown-item{
    font-family: sans-serif;
    font-weight:  bold;
    color: #FF2E63;
}
ul.dropdown-menu.show {
    background-color: #E2F4FC;
    font-weight:  bold;
    font-family: sans-serif;
}
footer.py-5{
    background-color: #E2F4FC;
}
.col-2 {
    color: #FF2E63;
}
.text{
    color: #FF2E63;
    font-weight:  bold;
    font-family: sans-serif;
}
.col-4{
    color: #FF2E63;
}

.descript1Item{
    width: 80%;
    margin: auto;
}

.stock{
    background-color: #8be392;
    padding-left: 0.5vw;
    width: 6vw;
}

.discount{
    width: 4vw;
    padding-left: 0.5vw;
}

.italic{
    font-style: italic;
}

.custom-thumbnail {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    justify-content: space-between;
}

.textDecoration{
    text-decoration: none;
    color: #000;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 15px; /* Espacement avant les détails */
}

.custom-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

#product-image {
    width: 8vw;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .form-control {
    width: auto;
}

.btn-block {
    margin-top: auto;
    width: 10vw;
}

#quantity-thumbnail{
    width: 2.5vw;
}

.border-cart{
    padding: 2vw;
    border: 1px solid black;
    margin-bottom: 5vh;
}

.border-cart th{
    width: 15vw;
}

.displayBackoffice{
    width: 80%;
    margin: auto;
    padding: 5vh 0 5vh 0;
}

