.descript1Item{
    width: 80%;
    margin: auto;
}

.stock{
    background-color: #8be392;
    padding-left: 0.5vw;
    width: 6vw;
}

.discount{
    width: 4vw;
    padding-left: 0.5vw;
}

.italic{
    font-style: italic;
}

.custom-thumbnail {
    padding: 2vw;
    height: 35vh;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.custom-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

#product-image {
    width: 6vw;
}

#quantity-thumbnail{
    width: 2.5vw;
}

.border-cart{
    padding: 2vw;
    border: 1px solid black;
}

th{
    width: 15vw;
}
