.navbar-custom, .navbar-brand {
    background-color: #E2F4FC;
    color: #FF2E63;
}

a.nav-link.dropdown-toggle  {
    color: #FF2E63;
    font-weight:  bold;
    font-family: sans-serif;
}
a.nav-link{
    color: #FF2E63;
    font-family: sans-serif;
    font-weight:  bold;
}
a.dropdown-item{
    font-family: sans-serif;
    font-weight:  bold;
    color: #FF2E63;
}
ul.dropdown-menu.show {
    background-color: #E2F4FC;
    font-weight:  bold;
    font-family: sans-serif;
}
footer.py-5{
    background-color: #E2F4FC;
}
.col-2 {
    color: #FF2E63;
}
p{
    color: #FF2E63;
    font-weight:  bold;
    font-family: sans-serif;
}
.col-4{
    color: #FF2E63;
}